body {
    margin: 0px;
    font-family: 'Anybody', cursive;
    background-color: honeydew;
}

/* nav bar */
.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(69, 123, 157);
    font-size: 20px;
    position: sticky;
    top: 0px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.right-side {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-wrapper > .right-side > div {
    margin-left: 50px;
}

.nav-link-wrapper a:hover {
    height: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 20s;
    text-align: center;
    color: rgb(29, 53, 87);
}

.nav-link-wrapper a {
    color: honeydew;
    text-decoration: none;
}

.nav-title {
    color:rgb(0, 18, 25);
}

/*introduction paragraph */
.introduction {
    text-align: center;
    line-height: 100px;
}

/* countdown */
.countdown {
    text-align: center;
    font-size: 30px;
}

/* map */
.map-wrapper {
    text-align: center;
    padding-bottom: 50px;
}

/* homepage timeline */
.homepage-timeline {
    text-align: center;
}

